.h-100{
    height: 100%;
}

.w-100{
    width: 100%;
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    -webkit-animation: colorchange 60s infinite; 
    animation: colorchange 60s infinite;
}


@-webkit-keyframes colorchange {

     0%  {background: #33FFF3;}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}


@keyframes colorchange {
     0%  {background: rgba(51, 255, 241, 0.562);}
    25%  {background: #78281F;}
    50%  {background: #117A65;}
    75%  {background: #DC7633;}
    100% {background: #9B59B6;}
}
ul{
    margin: 0;
    padding: 0;
}

input[type=email],[type=text],[type=password]{
    font-size: large;
    width: 350px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit]{
    width: 120px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
}

button[type=button]{
    width: 120px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: small;
}


button[type=submit],[type=button]:hover{
    background-color: #45a049;
}

#container{
        margin-top: 50px;
        display: flex;
        justify-content:center;
}

.card{
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(255,255,255, 0.0005);
}

#header{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
    font-size:xx-large;
    box-sizing: border-box;
    color: rgb(8, 2, 0);
}

form{
    margin-left: 15px;
    margin-right: 10px;
}

#lable{
    font-family: 'Gimlet Beta';
    border-radius: 5px;
    padding: 10px 25px 10px 25px;
    font-size: larger;
}

.container{
    display: flex;
    width: 100%;
}
.justify-end{
    justify-content: flex-end;
}
.flex-column{
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-grow-2{
    flex-grow: 2;
}
.flex-grow-3{
    flex-grow: 3;
}
.item{
    background: rgba(11, 134, 182, 0.5);
    border: 1px solid black;
}
.item1{
    background: rgba(182, 247, 4, 0.5);
    border: 1px solid black;
}

.listSL{
    font-size: large;
    width: 350px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}
